.card-component {
    display: flex;
    border-bottom: 1px solid grey;
    .image-container {
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            height: 200px;
        }
    }

    .info-component {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .location-container {
            display: flex;
            justify-content: space-between;
            .heart-icon {
                height: 30px;
                cursor: pointer;
            }
        }

        .title-heading {
            font-size: larger;
        }

        .border-line {
            border-bottom: 1px solid grey;
        }

        .description-container {
            font-size: smaller;
        }
    }
}

.card-component:hover {
    box-shadow: 0 14px 9px 0 rgba(233, 228, 228, 0.24), 0 15px 22px rgba(233, 228, 228, 0.24);
    transform: scale(0.95);
    transition-duration: 2ms;
}
